html {
    height: 100%;
    margin: 0;
    background-image: url("https://static01.nyt.com/images/2021/01/26/well/well-foods-microbiome/well-foods-microbiome-superJumbo.jpg");
    background-size: cover;
    background-origin: border-box;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: gray;
    font-size: 50px;
}

ul {
    background-color: greenyellow;
    width: 17%;
    margin: 2px;
    padding: 0;
    list-style: none;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    font-size: 25px;
    align-items: center;
    margin-left: 80px;
    border-radius: 10px;

}