html {
    height: 100%;
    margin: 0;
    background-image: url("https://static01.nyt.com/images/2021/01/26/well/well-foods-microbiome/well-foods-microbiome-superJumbo.jpg");
    background-size: cover;
    background-origin: border-box;
    height: fit-content;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(165, 5, 5);
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

ul {
    background-color: greenyellow;
    width: 17%;
    margin: 2px;
    padding: 0;
    list-style: none;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    font-size: 25px;
    align-items: center;
    margin-left: 150px;
    border-radius: 10px;

}